#minimap-container
  position: fixed;
  z-index: 2
  left: 46px;
  bottom: 5px;

  #minimap
    background: #ffffcc
    position: relative
    opacity: 0.7

  #minimap-frame
    position: absolute
    border-style solid
    border-color black
    border-width 1px