<div class="toolbar">
  <div class="tools">

    <div
      ng-repeat="tool in menu.tools"
      class="tool {{tool.id}}"
      >

      <div
        ng-if="tool.id === 'followAction'"
        title="follow actions of a collaborator (currently {{tool.active? 'on' : 'off'}})"
        >
        <div
          ng-click="toggleTool(tool)"
          class="tool-option follow-action"
          ng-class="{active : tool.active}"
          >
          <i class="fa fa-dot-circle-o"></i>
        </div>
      </div>

      <div ng-if="tool.id === 'stylus'">
        <div
          ng-repeat="option in tool.options"
          ng-click="pickTool(tool, option)"
          class="tool-option"
          style="color: {{selected.color}}"
          >
          <i ng-if="option.logoId" class="fa fa-{{option.logoId}}"></i>
        </div>
      </div>

      <div ng-if="tool.id === 'color'">
        <div
          ng-repeat="option in tool.options"
          ng-click="pickTool(tool, option)"
          class="tool-option color"
          style="color: {{option.value}}"
          >
          <i class="fa fa-tint"></i>
        </div>
      </div>

      <div ng-if="tool.id === 'width'">
        <div
          ng-repeat="option in tool.options"
          ng-click="pickTool(tool, option)"
          class="tool-option width"
          style="
                                     font-size: {{option.value}}px;
                                     color: {{selected.color}}
                                     "
          >
          <i class="fa fa-circle"></i>
        </div>
      </div>


    </div>
  </div>
</div>
