.toolbar
  background: black

.tool-option
  height: 25px
  color: lightgrey
  padding-top: 13px
  font-size: 1.3em
  text-align: center
  transition: all 0.1s;
  -webkit-transition: all 0.1s; /* Safari */

  &.active
    color: white;

  &:hover
    background: grey

