.nuboard
  .stage
    background-color #eee
    width 1500px
    height 1500px
  .controls
    position absolute
    background-color #222
    padding 5px
    ul
      padding 0
      margin 0
      list-style none
      li
        background-color #fff



