.toolbar
  background: black

.tool-option
  height: 25px
  color: white
  padding-top: 13px
  font-size: 1.3em
  text-align: center
  transition: all 0.1s;
  -webkit-transition: all 0.1s; /* Safari */

  &:hover

    background: grey

