<!doctype html>
<html ng-app="nuBoard">

<head>
  <meta charset="utf-8">
  <title>nuBoard</title>

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>

</head>

<body>

<div ng-view></div>

</body>
</html>
