@import "surface"
@import "toolbar"

toolbar-width = 40px

html, body
  height 100%
  margin 0px
  background-color: #E4E0E2

.toolbar
  width toolbar-width
  height 100%
  position fixed
  z-index 5

#main-surface
  position relative
  left toolbar-width
  z-index 1
  width 2000px
  height 2000px