#minimap-container {
  position: fixed;
  z-index: 2;
  left: 46px;
  bottom: 5px;
}
#minimap-container #minimap {
  background: #ffc;
  position: relative;
  opacity: 0.7;
}
#minimap-container #minimap-frame {
  position: absolute;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}


.toolbar {
  background: #000;
}
.tool-option {
  height: 25px;
  color: #d3d3d3;
  padding-top: 13px;
  font-size: 1.3em;
  text-align: center;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
/* Safari */
}
.tool-option.active {
  color: #fff;
}
.tool-option:hover {
  background: #808080;
}

.toolbar {
  background: #000;
}
.tool-option {
  height: 25px;
  color: #d3d3d3;
  padding-top: 13px;
  font-size: 1.3em;
  text-align: center;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
/* Safari */
}
.tool-option.active {
  color: #fff;
}
.tool-option:hover {
  background: #808080;
}
html,
body {
  height: 100%;
  margin: 0px;
  background-color: #e4e0e2;
}
.toolbar {
  width: 40px;
  height: 100%;
  position: fixed;
  z-index: 5;
}
#main-surface {
  position: relative;
  left: 40px;
  z-index: 1;
  width: 2000px;
  height: 2000px;
}
